@import './colorPalette.css';

body {
    margin: 100px 0px 0px 0px;
    padding: 0px 15px;
    background-color: var(--BACKGROUNDCOLOR);
    
}

@font-face {
    src: url(../images-fonts/Archivo-VariableFont_wdth\,wght.ttf);
    font-family: Standard;
}

* {
    font-family: Standard;
}

.Hide {
    display: none !important;
}

.Reveal {
    display: flex !important;
}

/* Framework */

header {
position: fixed;

top: 0;
left: 0;
right: 0;

height: 75px;
margin: 0px;
padding: 0px;


background-color: var(--MAINCOLOR);

}

nav {

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);

}

main {
    margin: 0px;
    border: 1px solid black;
}

.cursorHover {
    cursor: pointer;
}

/* Navigation detail */

.navContainer {

    height: 100%;
    display: flex;
    align-items: center;

    padding: 15px;

    font-size: 20px;

}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 15px 15px 0px;
}

#logo p{
    margin: 0;
    font-size: var(--LOGO);
    text-shadow: 0px 2px 2px black;
    color: var(--FONTCOLORLIGHT);
}

#logo img{
    height: 50px;
    width: 50px;
    margin: 0;
}

.logoG {
color: var(--FONTRED)
}

.logoR {
    color: var(--FONTYELLOW);
}

.logoO {
    color: var(--FONTGREEN);
}

.logoW {
    color: var(--FONTBLUE);
}

#logo:hover p{
    opacity: 0.5;
}

#navGameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navButton {

    color: var(--FONTCOLORLIGHT);
    font-size: var(--LARGE);
    border-left: 1px solid var(--SEPERATOR);

    padding: 15px;

    font-weight: var(--BOLD);

}

.navButton:hover {
    color: var(--FONTCOLORLIGHTHOVER)
}

#rouletteButton {
    border-left: 0px;
}

.navSeperator {
    border: 1px solid var(--SEPERATOR);
    width: 1px;
    opacity: 50%;
    height: 100%;
}

#navRight {
    display: flex;

}

#registerButton {
    background-color: #1f6dcd;
    border: 1px solid black;
    border-radius: 10px;
}

#registerButton:hover {
    opacity: 0.5;
    border-color: var(--FONTCOLORLIGHT);
}

/* Main detail */


/* Footer detail */




#UIcardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    height: 500px;

    gap: 10px;
}

